@model IEnumerable<Medicaly.Models.DetailTransaction>

@{
    ViewBag.Title = "Medicaly - Manage Transactions";
}


<section id="productDashboardTitle">
    <div id="" class="mb-5">
        <div class="container">

            <a href="/Pharmacy" class="btn btn-secondary pe-4 ps-4 mb-3">
                Back to dashboard
            </a>

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-body text-center my-0">
                    <div class="section-line mx-auto"></div>
                    <h6 class="text-muted pt-3">TRANSACTIONS MANAGEMENT</h6>
                    <h2 class="mb-4">List Transaksi</h2>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="tableList">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">TRANSAKSI BARU</h6>
                </div>
                <div class="card-body text-center my-3">

                    @if (Model != null && Model.Any(x => x.IsShipped == 0))
                    {
                        <div id="ProductList" class="table-responsive">
                            <table class="table table-hover" id="transaksi-baru">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Date</th>
                                        <th class="align-middle text-center">Product</th>
                                        <th class="align-middle text-center">Harga</th>
                                        <th class="align-middle text-center">Quantity</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.Where(x => x.IsShipped == 0))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.HeaderTransaction.TransactionDate)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Product.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Product.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Transaction/Detail/@item.HeaderTransaction.Id" class="btn btn-outline-dark editProduct">
                                                            View
                                                        </a>
                                                        <form id="formUpdateStatus" method="POST">
                                                            <input type="number" id="Id" name="Id" value="@item.Id" hidden />
                                                            <input type="number" id="IsShipped" name="IsShipped" value="1" hidden />
                                                            <button type="submit" class="btn btn-outline-dark">
                                                                Confirm
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">Tidak ada pesanan.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tableList" class="mt-5">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">TRANSAKSI - BELUM DIKIRIM</h6>
                </div>
                <div class="card-body text-center my-3">
                    @if (Model != null && Model.Any(x => x.IsShipped == 1))
                    {
                        <div id="" class="table-responsive">
                            <table class="table table-hover" id="transaksi-belumDikirim">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Date</th>
                                        <th class="align-middle text-center">Product</th>
                                        <th class="align-middle text-center">Harga</th>
                                        <th class="align-middle text-center">Quantity</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.Where(x => x.IsShipped == 1))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.HeaderTransaction.TransactionDate)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Product.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Product.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <div class="me-2">
                                                            <a href="/Transaction/Detail/@item.HeaderTransaction.Id" class="btn btn-outline-dark pe-4 ps-4 editProduct">
                                                                View
                                                            </a>
                                                        </div>
            

                                                        <button type="button" class="btn btn-primary pe-4 ps-4 mb-3 editShipt" data-bs-toggle="modal" data-id="@item.Id" data-bs-target="#kirim">
                                                            Kirim
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">Tidak ada pesanan.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tableListSelesai" class="mt-5">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">TRANSAKSI - DIKIRIM</h6>
                </div>
                <div class="card-body text-center my-3">
                    @if (Model != null && Model.Any(x => x.IsShipped == 2))
                    {
                        <div id="" class="table-responsive">
                            <table class="table table-hover" id="transaksi-dikirim">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Date</th>
                                        <th class="align-middle text-center">Product</th>
                                        <th class="align-middle text-center">Harga</th>
                                        <th class="align-middle text-center">Quantity</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.Where(x => x.IsShipped == 2))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.HeaderTransaction.TransactionDate)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Product.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Product.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Transaction/Detail/@item.HeaderTransaction.Id" class="btn btn-outline-dark editProduct">
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">Tidak ada pesanan.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tableListSelesai" class="mt-5">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">TRANSAKSI - SELESAI</h6>
                </div>
                <div class="card-body text-center my-3">
                    @if (Model != null && Model.Any(x => x.IsShipped == 3))
                    {
                        <div id="" class="table-responsive">
                            <table class="table table-hover" id="transaksi-selesai">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Date</th>
                                        <th class="align-middle text-center">Product</th>
                                        <th class="align-middle text-center">Harga</th>
                                        <th class="align-middle text-center">Quantity</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.Where(x => x.IsShipped == 3))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.HeaderTransaction.TransactionDate)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Product.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Product.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Transaction/Detail/@item.HeaderTransaction.Id" class="btn btn-outline-dark editProduct">
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">Tidak ada pesanan.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tableListSelesai" class="mt-5">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">TRANSAKSI - SELESAI (DICONFIRM ADMIN)</h6>
                </div>
                <div class="card-body text-center my-3">
                    @if (Model != null && Model.Any(x => x.IsShipped == 4))
                    {
                        <div id="" class="table-responsive">
                            <table class="table table-hover" id="transaksi-selesai-beneran">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Date</th>
                                        <th class="align-middle text-center">Product</th>
                                        <th class="align-middle text-center">Harga</th>
                                        <th class="align-middle text-center">Quantity</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.Where(x => x.IsShipped == 4))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.TransactionId)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.HeaderTransaction.TransactionDate)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Product.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Product.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Transaction/Detail/@item.HeaderTransaction.Id" class="btn btn-outline-dark editProduct">
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">Tidak ada pesanan.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="modal fade" id="kirim" tabindex="-1" role="dialog" aria-labelledby="add-securityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Pengiriman</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="formShipement" method="post">
                            <input type="number" id="IdModal" name="Id" hidden />

                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="Nama">Nama Kurir</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Kurir" name="Kurir" placeholder="Nama Kurir" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="Nama">No Tracking</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="TrackingId" name="TrackingId" required>
                                </div>
                            </div>

                            <div class="text-left mt-4">
                                <button type="submit" class="btn btn-primary pe-3 ps-3">Save and Close</button>
                                <button type="button" class="btn btn-secondary ps-5 pe-5 closeModal" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script src="~/Scripts/Transaction.js"></script>
}