@model Medicaly.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Product - Dashboard";
}

<section id="searchBar1">
    <div class="row mt-5  d-flex justify-content-between">
        <div class="col-lg-7 mr-4">
            <h4 style="color: #808080;">Manage Products </h4>
        </div>

        <div class="col-lg-5 row text-end">
            <div class="col-lg-8">
                <input type="text" id="mySearch" class="form-control" placeholder="Filter product">
            </div>
            <div class="col-lg-4 ml-0">
                <button type="button" class="btn btn-primary pr-4 pl-4" data-bs-toggle="modal" data-bs-target="#add-product">
                    New Product
                </button>
            </div>
        </div>
    </div>
</section>

<section id="tableList">
    <div class="table-responsive mt-4">
        @if (Model.product.Count() > 0)
        {
            <table id="ProductList" class="table display">
                <thead>
                    <tr style="border-style : hidden!important;">
                        <th></th>
                        <th class="pr-5">Nama</th>
                        <th class="pr-5 pl-5">Stock</th>
                        <th class="pr-5 pl-5">Harga Barang</th>
                        <th class="pr-5 pl-5">Kategori</th>
                        <th class="pr-5 pl-5">Tipe</th>
                        <th class="pr-5 pl-5"></th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in Model.product)
                    {
                        <tr class="tr-header">

                            <td style="padding-right: 0px;" class="pt-3">
                                <img src="~/AppFile/Images/Products/@item.ProductFoto" class="img-thumbnail" width="100px" alt="No Images">
                            </td>
                            <td class="list pr-5 pt-4 text-left productName">
                                @Html.DisplayFor(modelItem => item.Nama)
                            </td>
                            <td class="list pr-5 pl-5 pt-4">
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td class="list pr-5 pl-5 pt-4">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="list pr-5 pl-5 pt-4">
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="list pr-5 pl-5 pt-4 productType">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td class=" text-center pr-5 pl-5 pt-4 pe-3">
                                <button type="button" class="btn btn-outline-dark editProduct" data-bs-toggle="modal" data-bs-id="@item.Id"
                                   data-bs-target="#exampleEdit">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button type="button" class="btn btn-outline-dark" value="@item.Id" onclick="deleteProduct(this.value)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h5> No data </h5>
        }
    </div>
</section>

<section id="modalEditProduct">
    <div class="modal fade" id="exampleEdit" tabindex="-1" role="dialog" aria-labelledby="exampleEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container mb-2">
                        <h3 class="mb-3 text-primary">Edit</h3>
                        <form id="formEditUser" enctype="multipart/form-data" method="post" onsubmit="return EditPost(this)">
                            <input type="hidden" name="UserID" id="UserID" value="" />
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="EditUsername">Username</label>
                                <div id="UsernameInput" class="col-sm-12"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="EditUserPassword">Password</label>
                                <div id="PasswordInput" class="col-sm-12"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="UserRoles">Roles</label>
                                <div id="RolesInput" class="col-sm-12"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="UserPhoto">Photos</label>
                                <div id="PhotoInput" class="ml-3"></div>
                                <div class="col-sm-12 mt-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input fileUpload-1" id="ImageUpload" name="ImageUpload">
                                        <label class="custom-file-label" for="ImageUpload">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="UserStatus">Status</label>
                                <div class="col-sm-12">
                                    <div id="StatusInput" class="custom-control custom-checkbox"></div>
                                </div>
                            </div>
                            <div class="text-left mt-4">
                                <button type="submit" class="btn btn-primary">Save and Close</button>
                                <button type="button" class="btn btn-secondary pr-5 pl-5 closeModal" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="modalAddProduct">
    <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="add-securityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="formAddProduct" enctype="multipart/form-data" method="post" onsubmit="return AddProductPost(this)">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="Nama">Nama Produk</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Nama" name="Nama" placeholder="Nama Produk" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Deskripsi">Deskripsi Produk</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control mt-2" id="Deskripsi" name="Deskripsi" placeholder="Deskripsi Produk" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Stock">Stock</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Stock" name="Stock" placeholder="Jumlah Stok" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Price">Price</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Price" name="Price" placeholder="Harga Produk" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Category">Category Produk</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Category" name="Category" placeholder="Kategori Produk" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Type">Tipe Produk</label>
                                <div class="col-sm-12">
                                    <select id="Type" name="Type" class="form-control mt-2">
                                        <option selected>Choose...</option>
                                        <option value="Obat">Obat - Obatan</option>
                                        <option value="Alat">Alat Kesehatan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="ProductFoto">Photo Produk</label>
                                <div class="col-sm-12 mt-2">
                                    <input type="file" class="form-control" name="ImageUpload" id="ImageUpload" placeholder="No file chosen" required>
                                </div>
                            </div>                            
                            <div class="text-left mt-4">
                                <button type="submit" class="btn btn-primary pe-3 ps-3">Save and Close</button>
                                <button type="button" class="btn btn-secondary ps-5 pe-5 closeModal" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/Product.js"></script>
}