@model Medicaly.ViewModels.ProductDetailViewModel
@{
    ViewBag.Title = "Medicaly - " + Model.selectedProduct.Nama;
}

<secion id="ProductPage">
    <section id="ProductTitle" class="jumbotron color-grey-light mt-0" style="padding-bottom: 70px;">
        <div class="d-flex align-items-center h-100">
            <div class="container text-center">
                <h3 class="mb-0">Product Page</h3>
            </div>
        </div>
    </section>
    <section id="ProductDetail" class="container">
        <div class="mb-5">
            <div class="row">
                <div class="col-md-6 mb-0 mb-md-0">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox">

                        <div class="row product-gallery mx-1">

                            <div class="col-12 mb-0">
                                <figure class="view overlay rounded z-depth-1 main-img">
                                    <!--<a href="~/App_File/Images/Products/@Model.selectedProduct.ProductFoto"
                                data-size="710x823" target="_blank"> -->
                                    <a class="popup-enlarge" href="#">
                                        <img class="card-img-top img-fluid z-depth-1" width="600" height="400"
                                             src="~/App_File/Images/Products/@Model.selectedProduct.ProductFoto" alt="Card image cap">
                                    </a>
                                </figure>
                            </div>
                        </div>

                    </div>

                    <!--modal enlarge-->
                    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span class="visually-hidden">Close</span></button>
                                </div>
                                <div class="modal-body">
                                    <img src="" class="imagepreview" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal-->
                </div>
                <div class="col-md-4">


                    <h5 class="fs-3">@Model.selectedProduct.Nama</h5>
                    <p class="mb-2 text-muted text-uppercase small">@Model.selectedProduct.Type</p>
                    <p><span class="mr-1 fs-3"><strong>@Convert.ToDecimal(Model.selectedProduct.Price).ToString("C2")</strong></span></p>

                    <span><strong>Stok: </strong> @Model.selectedProduct.Stock</span>

                    <form id="formAddToCart" method="POST">
                        <div class="table-responsive mb-2 w-50">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="ps-0 pb-2">Quantity</td>
                                    </tr>
                                    <tr>
                                        <th class="ps-1">

                                            @{
                                                if (Session["CustomerID"] != null)
                                                {

                                                    int CustomerId = int.Parse(Session["CustomerID"].ToString());
                                                    <input type="text" name="CustomerId" id="CustomerId" value="@CustomerId" hidden />
                                                }
                                            }

                                            <input type="text" name="ProductId" id="ProductId" value="@Model.selectedProduct.Id" hidden />
                                            <input type="text" name="Stock" id="Stock" value="@Model.selectedProduct.Stock" hidden />

                                            <div class="input-group w-75">
                                                <span class="input-group-btn">
                                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                                            data-type="minus" data-field="">
                                                        <span class="glyphicon glyphicon-minus">-</span>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity" class="form-control input-number me-2 ms-2"
                                                       value="1" min="1" max="20">
                                                <span class="input-group-btn">
                                                    <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                                            data-type="plus" data-field="">
                                                        <span class="glyphicon glyphicon-plus">+</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </th>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @if (Model.selectedProduct.Stock == 0)
                        {
                            <button type="submit" class="btn btn-outline-secondary btn-md me-1 mb-2 disabled">
                                <i class="fas fa-shopping-cart pr-2"></i> Add to cart
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-secondary btn-md me-1 mb-2">
                                <i class="fas fa-shopping-cart pr-2"></i> Add to cart
                            </button>
                        }

                    </form>

                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="ps-0 w-25 fw-normal" scope="row"><strong>Toko</strong></th>
                                    <td>@Model.selectedProduct.Pharmacy.NamaPharmacy</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 mb-4 mb-md-0">
                    <hr>
                    <h2><b>Deskripsi</b></h2>
                    @if (Model.selectedProduct.Type.Equals("Alat-Kesehatan"))
                    {
                        <p class="pt-1">
                            @Model.selectedProduct.Deskripsi
                        </p>
                    }
                    else
                    {
                        <p class="pt-0">
                            <strong>Indikasi Umum</strong>
                            <br />
                            @Model.selectedProduct.IndikasiUmum
                        </p>
                        <p class="pt-0">
                            <strong>Deskripsi Obat</strong>
                            <br />
                            @Model.selectedProduct.Deskripsi
                        </p>
                        <p class="pt-0">
                            <strong>Komposisi</strong>
                            <br />
                            @Model.selectedProduct.Komposisi
                        </p>
                        <p class="pt-0">
                            <strong>Dosis</strong>
                            <br />
                            @Model.selectedProduct.Dosis
                        </p>
                        <p class="pt-0">
                            <strong>Aturan Pakai</strong>
                            <br />
                            @Model.selectedProduct.AturanPakai
                        </p>
                        <p class="pt-0">
                            <strong>Kemasan</strong>
                            <br />
                            @Model.selectedProduct.Kemasan
                        </p>
                        <p class="pt-0">
                            <strong>Kontra Indikasi</strong>
                            <br />
                            @Model.selectedProduct.KontraIndikasi
                        </p>
                        <p class="pt-0">
                            <strong>Perhatian</strong>
                            <br />
                            @Model.selectedProduct.Perhatian
                        </p>
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th class="ps-0 w-25 fw-normal" scope="row"><strong>Kategori</strong></th>
                                        <td>@Model.selectedProduct.Category</td>
                                    </tr>
                                    <tr>
                                        <th class="ps-0 w-25 fw-normal" scope="row"><strong>Segmentasi</strong></th>
                                        <td>@Model.selectedProduct.Segmentasi</td>
                                    </tr>
                                    <tr>
                                        <th class="ps-0 w-25 fw-normal" scope="row"><strong>Manufaktur</strong></th>
                                        <td>@Model.selectedProduct.Manufaktur</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
        <h4>Produk Lain untuk anda</h4>
        <div class="row justify-content-md-start mt-3 row-cols-sm-auto">
            @for(int i=0; i<4; i++)
            {
                var item = Model.products.ElementAt(i);
                if (!item.Equals(Model.selectedProduct))
                {
                    <div class="card" style="width: 18rem;">
                        <a href="/Product/Detail/@item.Id">
                            <img class="card-img-top" width="300" height="150" src="~/App_File/Images/Products/@item.ProductFoto"
                                 alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <div style="height: 3rem;">
                                <a href="/Product/Detail/@item.Id"><h5 class="text-dark card-title text-item-truncate">@item.Nama</h5></a>
                            </div>
                            <p class="text-truncate" style="color: grey;">@item.Pharmacy.NamaPharmacy - (@item.Type)</p>
                            <p class="card-text">@Convert.ToDecimal(item.Price).ToString("C2")</p>
                        </div>
                    </div>
                }
            }

        </div>
    </section>
</secion>





@section scripts {
    <script src="~/Scripts/ProductDetail.js"></script>
}