@model Medicaly.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Product - Manage";
}

<section id="productDashboardTitle">
    <div id="" class="mb-5">
        <div class="container">

            <a href="/Pharmacy" class="btn btn-secondary pe-4 ps-4 mb-3">
                Back to dashboard
            </a>

            <button type="button" class="btn btn-primary pe-4 ps-4 mb-3" data-bs-toggle="modal" data-bs-target="#add-alat">
                Tambah Produk (Alat)
            </button>

            <button type="button" class="btn btn-primary pe-4 ps-4 mb-3" data-bs-toggle="modal" data-bs-target="#add-obat">
                Tambah Produk (Obat)
            </button>

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-body text-center my-0">
                    <div class="section-line mx-auto"></div>
                    <h6 class="text-muted pt-3">PRODUCTS MANAGEMENT</h6>
                    <h2 class="mb-4">List Produk</h2>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="tableList">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">OBAT - OBATAN</h6>
                </div>
                <div class="card-body text-center my-3">

                    @if (Model.product.Count() > 0 && Model.product.Any(x => x.Type.Equals("Obat-obatan")))
                    {
                        <div id="ProductList" class="table-responsive">
                            <table class="table table-hover" id="products-obat">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Images</th>
                                        <th class="align-middle text-center">Name</th>
                                        <th class="align-middle text-center">Stock</th>
                                        <th class="align-middle text-center">Harga Barang</th>
                                        <th class="align-middle text-center">Kategori</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.product.Where(x => x.Type.Equals("Obat-obatan")))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="~/App_File/Images/Products/@item.ProductFoto" target="_blank">
                                                    <img src="~/App_File/Images/Products/@item.ProductFoto" class="img-thumbnail" width="100px" alt="No Images">
                                                </a>
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Stock)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Category)
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Product/Update/@item.Id" class="btn btn-outline-dark editProduct">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-outline-dark" value="@item.Id" onclick="deleteProduct(this.value, this)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">No products (Obat-Obatan).</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tableListAlat" class="mt-5">
    <div id="content" class="dashboard">
        <div class="container">

            <div class="card border-0 rounded-20 shadow-sm">
                <div class="card-header text-start">
                    <div class="section-line mx-auto pt-2"></div>
                    <h6 class="text-muted">ALAT - KESEHATAN</h6>
                </div>
                <div class="card-body text-center my-3">



                    @if (Model.product.Count() > 0 && Model.product.Any(x => x.Type.Equals("Alat-Kesehatan")))
                    {
                        <div id="" class="table-responsive">
                            <table class="table table-hover" id="products-alat">
                                <thead class="bg-blue text-white">
                                    <tr>
                                        <th class="align-middle text-center">ID</th>
                                        <th class="align-middle text-center">Images</th>
                                        <th class="align-middle text-center">Name</th>
                                        <th class="align-middle text-center">Stock</th>
                                        <th class="align-middle text-center">Harga Barang</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="List">
                                    @foreach (var item in Model.product.Where(x => x.Type.Equals("Alat-Kesehatan")))
                                    {
                                        <tr>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="~/App_File/Images/Products/@item.ProductFoto" target="_blank">
                                                    <img src="~/App_File/Images/Products/@item.ProductFoto" class="img-thumbnail" width="100px" alt="No Images">
                                                </a>
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Nama)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(modelItem => item.Stock)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Convert.ToDecimal(item.Price).ToString("C2")
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="btn-toolbar flex-nowrap justify-content-center" role="toolbar"
                                                     aria-label="Toolbar">
                                                    <div class="btn-group me-2" role="group" aria-label="link">
                                                        <a href="/Product/Update/@item.Id" class="btn btn-outline-dark editProduct">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-outline-dark" value="@item.Id" onclick="deleteProduct(this.value, this)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">No products (Alat-Kesehatan).</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



<section id="modalAddProduct">
    <div class="modal fade" id="add-alat" tabindex="-1" role="dialog" aria-labelledby="add-securityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Produk (Alat Kesehatan)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="formAddAlat" enctype="multipart/form-data" method="post" onsubmit="return AddProductPost(this)">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="Nama">Nama Produk</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Nama" name="Nama" placeholder="Nama Produk" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Deskripsi">Deskripsi Produk</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control mt-2" id="Deskripsi" name="Deskripsi" placeholder="Deskripsi Produk" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Stock">Stock</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Stock" name="Stock" placeholder="Jumlah Stok" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Price">Price</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Price" name="Price" placeholder="Harga Produk" required>
                                </div>
                            </div>

                            <input type="text" class="form-control mt-2" id="Type" name="Type" value="Alat-Kesehatan" hidden>

                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="ProductFoto">Photo Produk</label>
                                <div class="col-sm-12 mt-2">
                                    <input type="file" class="form-control" name="ImageUpload" id="ImageUpload" placeholder="No file chosen" required>
                                </div>
                            </div>
                            <div class="text-left mt-4">
                                <button type="submit" class="btn btn-primary pe-3 ps-3">Save and Close</button>
                                <button type="button" class="btn btn-secondary ps-5 pe-5 closeModal" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-obat" tabindex="-1" role="dialog" aria-labelledby="add-securityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Produk (Obat-Obatan)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="formAddObat" enctype="multipart/form-data" method="post" onsubmit="return AddProductPost(this)">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label" for="Nama">Nama Obat</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Nama" name="Nama" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="IndikasiUmum">Indikasi Umum</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control mt-2" id="IndikasiUmum" name="IndikasiUmum" placeholder="Isi Indikasi Umum" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Deskripsi">Deskripsi Obat</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control mt-2" id="Deskripsi" name="Deskripsi" placeholder="Deskripsi Obat" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Stock">Stock</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Stock" name="Stock" placeholder="Jumlah Stok" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Price">Price</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control mt-2" id="Price" name="Price" placeholder="Harga Produk" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Category">Kategori</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Category" name="Category" placeholder="Ketgori Obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Komposisi">Komposisi</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Komposisi" name="Komposisi" placeholder="Komposisi Obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Dosis">Dosis</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Dosis" name="Dosis" placeholder="Dosis Obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="AturanPakai">Aturan Pakai</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control mt-2" id="AturanPakai" name="AturanPakai" placeholder="Aturan Pakai Obat" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Kemasan">Kemasan</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Kemasan" name="Kemasan" placeholder="Kemasan Obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="KontraIndikasi">Kontra Indikasi</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="KontraIndikasi" name="KontraIndikasi" placeholder="Kontra Indikasi Obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Perhatian">Perhatian</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Perhatian" name="Perhatian" placeholder="Perhatian pada obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Segmentasi">Segmentasi</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Segmentasi" name="Segmentasi" placeholder="Segmentasi pada obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="Manufaktur">Manufaktur</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control mt-2" id="Manufaktur" name="Manufaktur" placeholder="Manufaktur pada obat" required>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label class="col-sm-12 col-form-label" for="ProductFoto">Photo Produk</label>
                                <div class="col-sm-12 mt-2">
                                    <input type="file" class="form-control" name="ImageUpload" id="ImageUpload" placeholder="No file chosen" required>
                                </div>
                            </div>

                            <input type="text" class="form-control mt-2" id="Type" name="Type" value="Obat-obatan" hidden>

                            <div class="text-left mt-4">
                                <button type="submit" class="btn btn-primary pe-3 ps-3">Save and Close</button>
                                <button type="button" class="btn btn-secondary ps-5 pe-5 closeModal" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/Product.js"></script>
}