@model Medicaly.Models.Product
@{
    ViewBag.Title = "Medicaly - " + Model.Nama;
}

<secion id="ProductPage">
    <section id="ProductTitle" class="jumbotron color-grey-light mt-0" style="padding-bottom: 70px;">
        <div class="d-flex align-items-center h-100">
            <div class="container text-center">
                <h3 class="mb-0">Product Page</h3>
            </div>
        </div>
    </section>
    <section id="ProductDetail" class="container">
        <div class="mb-5">
            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox">

                        <div class="row product-gallery mx-1">

                            <div class="col-12 mb-0">
                                <figure class="view overlay rounded z-depth-1 main-img">
                                    <a href="~/AppFile/Images/Products/@Model.ProductFoto"
                                       data-size="710x823" target="_blank">
                                        <img class="card-img-top img-fluid z-depth-1" width="600px" height="400px"
                                             src="~/AppFile/Images/Products/@Model.ProductFoto" alt="Card image cap">
                                    </a>
                                </figure>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6">

                    <h5>@Model.Nama</h5>
                    <p class="mb-2 text-muted text-uppercase small">@Model.Type</p>
                    <p><span class="mr-1"><strong>Rp. @Model.Price</strong></span></p>
                    <p class="pt-1">
                        @Model.Deskripsi
                    </p>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="ps-0 w-25 fw-normal" scope="row"><strong>Kategori</strong></th>
                                    <td>@Model.Category</td>
                                </tr>
                                <tr>
                                    <th class="ps-0 w-25 fw-normal" scope="row"><strong>Stok</strong></th>
                                    <td>@Model.Stock</td>
                                </tr>
                                <tr>
                                    <th class="ps-0 w-25 fw-normal" scope="row"><strong>Toko</strong></th>
                                    <td>@Model.Pharmacy.NamaPharmacy</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="table-responsive mb-2">
                        <table class="table table-sm table-borderless">
                            <tbody>
                                <tr>
                                    <td class="ps-0 pb-2 w-25">Quantity</td>
                                </tr>
                                <tr>
                                    <th class="ps-0">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                    <span class="glyphicon glyphicon-minus">-</span>
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number me-2 ms-2"
                                                   value="1" min="1" max="@Model.Stock">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                    <span class="glyphicon glyphicon-plus">+</span>
                                                </button>
                                            </span>
                                        </div>
                                    </th>
                                    <td class="pl-0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-md me-1 mb-2 ps-4 pe-4">Buy now</button>
                    <button type="button" class="btn btn-outline-secondary btn-md me-1 mb-2">
                        <i class="fas fa-shopping-cart pr-2"></i> Add to cart
                    </button>
                </div>
            </div>

        </div>
    </section>
</secion>





@section scripts {
    <script src="~/Scripts/ProductDetail.js"></script>
}